@charset "UTF-8";
@import url(http://fonts.googleleapis.com/earlyaccess/nanumgothic.css); /* 나눔고딕 */
@import url(http://fonts.googleleapis.com/earlyaccess/hanna.css);  /* 배민체 */
@import url(http://fonts.googleleapis.com/earlyaccess/notosanakr.css); /* 본고딕 */
@import url(http://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsuare.css); /* 나눔스퀘어 */

h5 {
	font-family: 'Nato Sans KR';
	font-size: 15px;
}
h4 {
	font-family: 'Nanum Suare';

}
h3 {
	font-family: 'Nanum Suare';

}
h2 {
	font-family: 'Hanna';
}
h1 {
	font-family: 'Hanna';
}